<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="dmCSS.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Carme' rel="stylesheet">
    <style>
        body {
            font-family:'Carme';font-size: 19px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <a href="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535832/photo-1572891086295-6c1c7c476549_hgh3rs.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535832/photo-1572891086295-6c1c7c476549_hgh3rs.jpg" class="img-fluid rounded">
        </a>
        <a href="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535822/photo-1572009666974-57e07e715fbe_ad0bfj.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535822/photo-1572009666974-57e07e715fbe_ad0bfj.jpg" class="img-fluid rounded">
        </a>
        <a href="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535812/photo-1565031491910-e57fac031c41_n57zmh.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535812/photo-1565031491910-e57fac031c41_n57zmh.jpg" class="img-fluid rounded">
        </a>
    </div>
    <div class="row">
        <a href="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535789/photo-1539693010221-cd218dfe6565_ow4lzs.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535789/photo-1539693010221-cd218dfe6565_ow4lzs.jpg" class="img-fluid rounded">
        </a>
        <a href="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535773/photo-1505691723518-36a5ac3be353_kkbb0h.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535773/photo-1505691723518-36a5ac3be353_kkbb0h.jpg" class="img-fluid rounded">
        </a>
        <a href="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535758/photo-1560185893-a55cbc8c57e8_mqc49b.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://res.cloudinary.com/di5v2kyqq/image/upload/v1581535758/photo-1560185893-a55cbc8c57e8_mqc49b.jpg" class="img-fluid rounded">
        </a>
    </div>
</div>
<script src="../dmJS.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>